@charset "utf-8";

address, article, aside, blockquote, body, cite, 
div, dl, dt, dd, em, figcaption, figure, footer, 
h1, h2, h3, h4, h5, h6, header, html, img, 
li, main, nav, nav a, ol, p, section, span, ul {
   margin: 0;
   padding: 0;
   border: 0;
   font-size: 100%;
   vertical-align: baseline;
   background: transparent;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;  
}

html {
    background: linear-gradient(235deg, rgb(0, 0, 0), rgb(35, 35, 35));
    color: white;
}

body {
    margin: 0px auto;
    width: 80%;
}

/* Header Styles */
nav a {
    color: white;
    text-decoration: none;
}

nav a:hover {
    color: rgb(210, 200, 190);
}

/* Footer Styles */
footer input {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    border: 1px solid rgba(240, 228, 218, 0.466);
}

footer input#addTask {
    background-image: url(plus.png);
    background-repeat: no-repeat;
    background-position: 50% 50%; 
}

footer input.next {
    background-image: url(arrow.png);
    background-repeat: no-repeat;
    background-position: 50% 50%; 
}

footer input.prev {
    background-image: url(arrow.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    transform: scaleX(-1); 
}

footer input:hover {
    background-color: rgba(240, 228, 218, 0.856);
    color: rgb(43, 42, 42);
}