@charset "utf-8";

aside, footer, header, main, nav, section { 
   display: block;
}

address, article, aside, body, div, footer,
h1, h2, h3, h4, h5, h6, header, html, img, 
li, main, nav, nav a, p, section, ul {
   margin: 0;
   padding: 0;
   border: 0;
   font-size: 100%;
   list-style: none;
   vertical-align: baseline;
   background: transparent;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;  
}

html {
    background: linear-gradient(235deg, rgb(0, 0, 0), rgb(61, 61, 61));
    color: white;
}

body {
    background-color: rgb(42, 42, 42);
    margin: 0px auto;
    width: 80%;
    min-height: 438px;
    line-height: 1.5em;
}

fieldset {
    border: 0px;
}

button {
    background: transparent;
    color: white;
}