/* 
    Final Project
    Southwest Technical College
    TESD 1100: Client-Side Web Development
     
    Project_Title_Here
    Author: Miles Wiser
    Date: 5/3/2025

*/

div.game img {
    height: 100px;
}